


/* start address-bar */
.address-bar{
    height: 210px;
    background-image: url(../images/professorDevelop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color-l);
    position: relative;
   
}
.address-bar .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.628);
}
.address-bar h1{
    color: white;
    z-index: 9999;
}
@media (max-width: 522px) {
    .address-bar {
        height: 180px;
    }
    .address-bar h1{
      font-size: 22px;
    }
}
@media (max-width: 376px) {
    .address-bar {
        height: 140px;
    }
    .address-bar h1{
      font-size: 18px;
    }
}
/* end address-bar */

/* start content */
 /* start goale content */

 .goal-content{
    padding: 50px 15px;
}
.goal-content .goals{
    border: 4px solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 110px;
    width: 55%;
}
.goal-content h1
{
    margin: 0 auto;
    padding: 10px;
    width: 380px;
    text-align: center;
}
.goal-content .image img{
    max-width: 95%;
}
.goal-content .goal p i{
    font-size: 22px;
  color: var(--main-color);
    margin-left: 15px;
}
@media (max-width: 767px) {
    .goal-content .image img{
        max-width: 75%;
    }
    .goal-content .image {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    .goal-content h1{
        font-size: 20px;
        width: 250px;
    }
}

  /* end goal content */

  /* start message and vision content */

  .message-content{
    padding: 50px 15px 120px;
}
.message-content .container{
    border: 4px solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 140px;
    width: 55%;
}
.message-content .container h3{
    padding: 10px;
}
.message-content .vision div,
.message-content .message div
{
    margin: 0 auto 25px;
    width: 290px;
    text-align: center;
    font-size: 25px;
}
.message-content .vision div i,
.message-content .message div i
{
    margin-left: 10px;
    color: white;
    background-color: var(--main-color);
    border-radius: 50%;
    padding: 10px;
    font-size: 25px;
}

@media (max-width: 767px) {
    .message-content h1{
        font-size: 20px;
        width: 250px;
    }
    .message-content .message{
        margin-bottom: 50px;
    }
    .message-content .container h3{
        font-size: 24px;
        padding: 5px;
    }
    .message-content .container{
        margin-bottom: 70px;
    }
    .message-content h1 i{
        font-size: 22px;
    }
}
@media (max-width: 991px) {
    .message-content .box div div{
        font-size: 22px;
    }
}

  /* end message and vision content */

/* end content */





/* start footer */
.page-footer{
    padding-top: 30px;
    background-color: var(--main-color);
    font-size: 14px;
    color: white;
}
.page-footer .information{
    padding-bottom: 40px;
}
.page-footer .information .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.page-footer .information .container>div{
    width: 30%;
}
.page-footer .information h3{
    text-align: center;
    border-bottom: 3px dashed white;
    margin: 0;
    font-size: 18px;
    padding-bottom: 20px;
    margin-bottom: 12px;
}
.page-footer .about{
    padding: 0;
}
.page-footer .about img{
    width: 180px;
    height: 120px;
    margin-bottom: 15px;
}
@media (max-width: 991px) {
    .page-footer .information .container>div{
        width: 100%;
    }
}
.page-footer .information ul span{
    font-weight: bold;
}
.page-footer .contact ul{
    margin-top: 20px;
    margin-right: 35px;
}
.page-footer .container li{
    margin-bottom: 8px;
}
.page-footer .container li:before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding-left: 8px;
}

.page-footer .contact ul li:first-child:before{
    content: "\f3c5";   
}
.page-footer .contact ul li:nth-child(2):before{
    content: "\f879";   
}.page-footer .contact ul li:last-child:before{
    content: "\40";   
}
.page-footer .links li::before{
    content: "\f0c1";
    padding-left: 8px;
}
.page-footer .links li a{
    color: white;
}

.page-footer .copy-right {
    text-align: center;
    padding:20px 0;
    background-color: white;
    color: black;
    font-size: 16px;
}
.page-footer .copy-right span{
    font-size: 20px;
    padding: 0;
    margin: 0;
}

/* start footer */
