
:root{
    --main-color-alt:#2196F3;
    --main-color:rgb(63, 84, 105);
    --main-color-l:rgba(63, 84, 105,0.8);
    --third-color:rgb(118, 128, 132);
    --padding-section:100px;
    --main-transition:0.3s;
}
*{
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Cairo', sans-serif;
    direction: rtl;
    line-height: 1.6;
    
}

html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}


/* start header */

        /* welcom header */

.full-header .header-welcome{
    background-color: rgb(63, 84, 105);
}
.header-welcome .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
}
.header-welcome .welcome{
    display: flex;
    align-items: center;
}
.header-welcome .welcome img{
   width: 25px;
   height: 25px;
}
.header-welcome .welcome span{
   color: white;
}
.header-welcome .welcome i{
   margin: 0 10px;
   color: white;
}

.university-links ul{
    display: flex;
}
.university-links ul li{
   margin-left: 10px;
   
}  
.university-links ul li a{
    color: white;
}

       /* welcom header */


       /* minu header */

       .header-minu{
        background-color: white !important;
        padding: 0;
        
    }
    .header-minu .container{
        display: flex;
        align-items: center; 
        flex-wrap: wrap;
        margin: 0 auto;
    }
    
   
    .header-minu .container .logo-menu img{
        height: 50px;
    }
    .header-minu .container .nav-link{
        color: black;
    }
    .header-minu .container .btn{
        background-color: white !important;
        font-size: 12px;
    }
    .header-minu .container .main-minue-links{
        direction: rtl;
        display: flex;
        align-items: center;
    
    }
    .header-minu .main-minue-links li{
       padding: 10px;
       border-left: 0px solid rgb(246, 162, 98);
    }
    .header-minu .main-minue-links li .dropdown-menu{
         background-color:  rgba(56, 61, 63, 0.87) !important;
    }
    .header-minu .main-minue-links li .dropdown-menu li{
        padding: 0;
        margin: 0;
    }
    .header-minu .main-minue-links li .dropdown-menu li{
        border: none;
    }
    .header-minu .main-minue-links .dropdown-menu a{
        display: flex ;
        justify-content: right;
    }
    .header-minu .main-minue-links .dropdown-menu a:hover{
        border-radius: 10px ;
        background-color: #777;
    }
    
    .header-minu .main-minue-links li .nav-link i{
        font-size: 12px;
        padding-right:8px;
    }
    .header-minu .main-minue-links li a{
      color: white;
    }
    @media (max-width: 991px) {
        .header-minu{
            direction: ltr;
            background-color: #777 !important;
        }
        .header-minu .container .logo-menu{
            display: block;
        }
        .header-minu .container{
            margin: 0 auto;
            width: calc(100% - 80px); 
            padding: 0;
           
           
        }
        .header-minu .main-minue-links li{
            border: none;
            width: 100%;
        }
    
       
    }
    

       /* minu header */
/* end header */


/* start landing */

.main-landing .landingImage,
.landingImage2{
    height: 650px;
    width: 100%;
}

/* en landing */

/* start content */

.content{
    padding: 50px 0px 120px;
}
.content .conadress{
    text-align: center;
}
.content .con{
    margin: 100px 0 60px;
    background-color: #f7f7f7;
    display: flex;
    justify-content:center;
}
.content .container .address h3{
  margin-bottom: 100px;
}
.content .con .box{
    width: 90%;
    padding: 25px 0;
}
.content .vision div,
.content .message div,
.content .goals div
{
    margin: 0 auto 25px;
    width: 290px;
    text-align: center;
    font-size: 25px;
}
.content .vision div i,
.content .message div i,
.content .goals div i
{
    margin-left: 10px;
    color: white;
    background-color: var(--main-color);
    border-radius: 50%;
    padding: 10px;
    font-size: 25px;
}

@media (max-width: 767px) {
    .content h1{
        font-size: 22px;
        width: 250px;
    }
    .content .message{
        margin-bottom: 50px;
    }
    .content .container h3{
        font-size: 24px;
        padding: 5px;
    }
    .content .container{
        margin-bottom: 70px;
    }
    .content h1 i{
        font-size: 22px;
    }
}
@media (max-width: 991px) {
    .content .box div div{
        font-size: 22px;
    }
}

/* end content */

/* start about */
.about{
    padding-top: var(--padding-section);
    padding-bottom:var(--padding-section);
}
.about .container{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.about .container .image{
    width: 40%;
}
.about .container .text{
    width: 48%;
}
.about .container .image img{
    border-radius: 20px;
    width: 100%;
}
.about .container .text{
   text-align: justify;
   /* margin-right: 17px; */
}
.about .container .text h2{
   margin: -5px 0 10px;
   word-spacing: -5;
}
@media (max-width: 1200px) {
    .about .container .image img{
      width: 100%;
    }
    .about .container .image{
        margin-left: 7px;
        width: 40%;
    }
    .about .container .text h2{
        font-size: 21px;
    }
}
@media (max-width: 991px) {
    .about .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about .container .image{
        display: block;
        margin: 0 auto;
        width: 60%;
    }
    .about .container .image img{
        width: 100%;
    }
    .about .container .text{
        width: 90%;
    }
    .about .container .text h2{
        font-size: 18px;
        margin-top: 20px;
        font-weight: bold;
    }
}
.about .container .text p{
   color: #777;
   line-height: 1.6;
   margin-bottom: 30px;
}
@media (max-width: 767px) {
    .about .container .text h2{
        font-size: 20px;
        text-align: center;
    }
    .about .container .text p{
        font-size: 14px;
    }
    .about .container .text{
        width: 100%;
    }
}
/* end about */

/* start footer */
.page-footer{
    padding-top: 30px;
    background-color: var(--main-color);
    font-size: 14px;
    color: white;
}
.page-footer .information{
    padding-bottom: 60px;
    
}
.page-footer .information .container{
    display: flex;
    justify-content: space-between;
}
.page-footer .information .container>div{
    width: 31%;
}
.page-footer .information h3{
    text-align: center;
    border-bottom: 4px dashed white;
    margin: 0;
    padding-bottom: 20px;
    margin-bottom: 12px;
}
.page-footer .about{
    padding: 0;
}
.page-footer .about img{
    width: 100px;
    height: 90px;
}
.page-footer .information ul span{
    font-weight: bold;
}
.page-footer .contact ul{
    margin-top: 20px;
    margin-right: 35px;
}
.page-footer .container li{
    margin-bottom: 8px;
}
.page-footer .container li:before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding-left: 8px;
}

.page-footer .contact ul li:first-child:before{
    content: "\f3c5";   
}
.page-footer .contact ul li:nth-child(2):before{
    content: "\f879";   
}.page-footer .contact ul li:last-child:before{
    content: "\40";   
}
.page-footer .links li::before{
    content: "\f0c1";
    padding-left: 8px;
}
.page-footer .links li a{
    color: white;
}

.page-footer .copy-right {
    text-align: center;
    padding:20px 0;
    background-color: white;
    color: black;
    font-size: 16px;
}
/* start footer */
