
:root{
    --main-color-alt:#2196F3;
    --main-color:rgb(63, 84, 105);
    --main-color-l:rgba(63, 84, 105,0.8);
    --third-color:rgb(118, 128, 132);
    --padding-section:100px;
    --main-transition:0.3s;
}
*{
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Cairo', sans-serif;
    direction: rtl;
    line-height: 1.6;
    font-size: 14px;
    
}

html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}


/* start header */

        /* welcom header */

.full-header .header-welcome{
    background-color: rgb(63, 84, 105);
}
.header-welcome .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
}
.header-welcome .welcome{
    display: flex;
    align-items: center;
}
.header-welcome .welcome img{
   width: 25px;
   height: 25px;
}
.header-welcome .welcome span{
   color: white;
}
@media (max-width: 767px) {
    .header-welcome .welcome span{
        font-size: 14px;
    }
}
.header-welcome .welcome i{
   margin: 0 10px;
   color: white;
}

.university-links ul{
    display: flex;
}
.university-links ul li{
   margin-left: 10px;
   
}  
.university-links ul li a{
    color: white;
}

       /* welcom header */

       /* logo header */
.header-logo{
    height: 110px;
    display: flex;
    align-items: center;
}
.header-logo .container{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
}
.header-logo .logo img{
    width: 110px;
    height: 80px;
    margin-left: 50px;
}
.header-logo .text{
    padding-top: 30px;
}


@media (max-width: 991px) {
    .header-logo{
        height: 110px;
    }
    /* .header-logo .container{
        display: flex;
        justify-content: center;
    } */


}

 /* logo header */


/* start coentnt  */
.enroll-content{
    background-color: #eee;
    width: 100%;
    height: 150vh;
    position: relative;  
}
.enroll-content .con{
    width: 97%;
    height: 92%;
    margin: 2% 18px;
    position: absolute;
    /* top: 20px; */
    padding: 0;
    background-color: white;
}
.enroll-content .con .student-data{
    width: 97%;
    height: 25vh;
    margin: 20px;
    padding: 30px 25px;
    border: 1px solid #777;
    position: relative;
    margin-bottom: 90px;
}
.enroll-content .con .student-data::before{
    content: "بيانات الطالب";
    position: absolute;
    top: -10px;
    left: 50%;
    font-weight: bold;
    padding: 3px 20px;
    background-color: white; 
}
.enroll-content .con .student-courses{
    width: 97%;
    margin: 20px;
    height: 55vh;
    padding: 40px 0px;
    border: 1px solid #777;
    position: relative;
}
.enroll-content .con .student-courses::before{
    content: "كشف النتيجة";
    position: absolute;
    top: -10px;
    left: 50%;
    font-weight: bold;
    padding: 3px 20px;
    background-color: white; 
}
.enroll-content .student-courses table{
   
}
.enroll-content .student-courses table thead{
    background-color: #c4c1c1;
}
.enroll-content .student-courses table tr{
    text-align: center !important;
}
.enroll-content .student-courses table td{
    padding: 1px 10px 1px 0;
    width: fit-content !important;  
    
}
.enroll-content .student-courses .clic{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.enroll-content .student-courses .clic .btn{
    margin-left: 30px;
}



/* end coentnt  */


/* start footer */

.copy-right {
    text-align: center;
    padding:20px 0;
    background-color: #eee;
    border-top: 2px solid #777;
    color: black;
    font-size: 16px;
}
.copy-right span{
    font-size: 20px;
    padding: 0;
    margin: 0;
}

/* start footer */
